body{
    font-family: 'Noto Serif', serif;
    margin: 0px;
}

h1{
    font-size: 50px;
    color:  (39, 12, 1, 0.842);
}
h2{
    font-size: 40px;
    color: rgba(39, 12, 1, 0.842);
    
}
h4{
    font-size: 17px;
    color: rgb(22, 8, 1);
}
#chester{
    color: rgb(22, 8, 1);
}
.left-width{
    color:  rgb(22, 8, 1);
    height: 35%;
    width: 60%;
}
.ethan{
    color: rgb(236, 110, 6);
}
.half-width{
    width: 40%;
    float: left;  
    margin-left: 3%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;   
    padding-top: 2%;
}


.banner{
    
    background-image: linear-gradient(rgba(232, 232, 238, 0.692),rgba(204, 204, 209, 0.596)), url(images/cover.jpg);
    
    background-size: 1380px 650px;
    background-position: center;
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 2px;
}
#h{
height: 500px; width:300px;
}
.dream-area{
    background-image: linear-gradient(rgba(232, 232, 238, 0.692),rgba(204, 204, 209, 0.596)), url(images/cover.jpg);
}
#c{
    color: rgb(235, 121, 15);
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;


}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px;
}